@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  @apply bg-softwhite text-softblack;
}

::selection {
  @apply bg-primary text-softwhite;
}
